*{
    margin: 0;
    padding: 0;
}

section{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

section h2{
    font-size: 60px;
    margin: 50px 0px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card img{
    border-radius: 50%;
    width: 180px;
    height: 150px;
}


.card{
    background-color: rgb(124, 189, 143);
    
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.767);
}

.card h4{
    font-size: 36px;
    font-style: italic;
    color: blueviolet;
    margin-bottom: 10px;
}

.card h5{
    font-size: 22px;
    color: rgb(14, 96, 248);
    margin-bottom: 10px;
}

.card p{
    text-align: justify;
}
